/dist/
/build/
/src/Sufijos/build/
/src/Sufijos/dist/
/src/Sufijos/nbproject/private/
/src/TrieRedesIPv4/nbproject/private/
/src/TrieRedesIPv4/build/
/src/TrieRedesIPv4/dist/
/src/UT02-PD03-TrieDiccionario/nbproject/private/
/src/UT02-PD03-TrieDiccionario/build/
/src/UT02-PD03-TrieDiccionario/dist/
/src/UT02-PD04-IndexarLibro/nbproject/private/
/src/UT02-PD04-IndexarLibro/build/
/src/UT02-PD04-IndexarLibro/dist/